.container{
    display: flex;
    gap: 1rem;
    font-size: 1rem;
    font-weight: 600;
}

.container input{
    width: 3rem;
    height: 0.4rem;
}

.divTextField{
    display: flex;
    align-items: center;
    gap: 0.5rem;
    /* border: 1px red solid; */
}

.textError{
    color: red;
    font-size: 0.75rem;
}