:root {
    /**variables*/
    --background: #121214;
    --shape: #202024;
    --box-on-shape: #29292E;
    --table-header: #323238;
    --text: #E1E1E6;
    --line: #7C7C8A;
    --purple-500: #292A94;
    --pink-800: #8F0656;
    --orange-500: #EC7815;
    --green-500: #299434;
}